<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="form-group">
            <div class="col-md-9">
                <input class="form-control" id="film-name-input" type="text" value="" placeholder="Film's name">
            </div>
            <div class="col-sm-2">
                <input class="form-control" id="film-year-input" type="text" value="" placeholder="Film's year">
            </div>
            <div class="col-sm-1">
                <button class="btn btn-primary" id="add-film-button">Add</button>
            </div>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>
<hr>
<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="row" id="films-list">
            <!--Render film items here-->
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>